<% this.title = '日历' %>
<% include header %>

<style type="text/css">
  img.oj-icon {
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
    margin-right: .25em;
  }

  img.oj-icon.circular {
    border-radius: 50%;
  }
</style>

<div class="padding">
  <table class="ui very basic center aligned table" style="table-layout: fixed">
    <thead>
      <tr>
        <th style="width: 60px">#</th>
        <th style="width: 150px">OJ</th>
        <th>比赛</th>
        <th style="width: 150px">开始时间</th>
        <th style="width: 150px">结束时间</th>
        <th style="width: 150px">时长</th>
      </tr>
    </thead>
    <tbody>
      <%
        let i = 0;
        for (let contest of contests) {
          ++i;
      %>
        <tr>
          <td><b><%= i %></b></td>
          <td>
            <img src="<%= contest.oj.icon.url %>" alt="<%= contest.oj.name %>" class="oj-icon <%= contest.oj.icon.variety %>">
            <%= contest.oj.name %>
          </td>
          <td><a href="<%= contest.url %>"><%= contest.name %></a></td>
          <td><%= contest.startTime %></td>
          <td><%= contest.endTime %></td>
          <td><%= contest.lastTime %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<% include footer %>
